* {
    margin: 0;
    padding: 0;
}

/*
    @media screen(max-width<600px)
    @media screen(min-width>=600px and max-width<960px)
    @media screen(max-width>=960px) --> Main
*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .content {
        height: 80px;
        width: 33.3%;

        @media screen and(min-width:600px)and(max-width:960px) {
            width: 50%;
        }

        @media screen and (max-width:599px) {
            width: 100%;
        }

        &:nth-child(1) {
            background-color: red;
        }

        &:nth-child(2) {
            background-color: green;
        }

        &:nth-child(3) {
            background-color: blue;
        }

        &:nth-child(4) {
            background-color: yellow;
        }

        &:nth-child(5) {
            background-color: purple;
        }

        &:nth-child(6) {
            background-color: grey;
        }
    }
}